@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'header';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    transition: .3s all ease;
}
ul{
    list-style: none;
}
body{
    font-family: 'Roboto';
    position: relative;
}

/* Modal */
.wrapper{
    width: 100%;
    position: relative;
}
.container{
    max-width: 1640px;
    margin: 0 auto;
}
main{
    .left_content,.right_content{
        width: 20%;
    }
    .left_content{
        .events{
            .events_title{
                font-weight: normal ;
                font-size: 20px;
                text-align: center;
            }
        }
    }
    .content{
        width: 60%;
    }
    aside{
        width: 100%;
        max-width: 30%;

    }
}
